/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl { float: left; }
.fr { float: right; }
.style_red { color: #c81623; }
/* 快捷导航模块 */
.shotcut {
    width: inherit;
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
    .shotcut .fl li { float: left; }
    .shotcut .fr li { float: right; }
    .shotcut .space {
        margin: 9px 12px 0;
        height: 12px;
        width: 1px;
        background-color: #666;
    }
    .shotcut span::after {
        font-family: "icomoon";
        content: "\e91e";
    }
/* header 头部制作 */
.header {
    position: relative;
    height: 105px;
}
    .header .logo {
        position: absolute;
        top: 26px;
        left: 3px;
        width: 175px;
        height: 56px;
    }
        .header .logo a {
            display: block;
            width: 175px;
            height: 56px;
            background: url(../images/logo.png) no-repeat;
            font-size: 0;
        }
    .header .search {
        position: absolute;
        top: 25px;
        left: 348px;
    }
    .header .search_2 {
        position: absolute;
        top: 27px;
        left: 672px;
    }
    .header .kill{
        position:absolute;
        top:14px;
        left:190px;
        width:84px;
        height:30px;
        padding:0 14px;
        border-left:1px solid #000;
    }
    .header .text {
        float: left;
        width: 445px;
        height: 34px;
        border: 2px solid #b1191a;
        padding-left: 10px;
        color: #ccc;
    }
    .header .btn {
        float: left;
        width: 82px;
        height: 34px;
        background-color: #b1191a;
        border: none;
        font-size: 16px;
        color: #fff;
    }
    .header .hotwords {
        position: absolute;
        top: 65px;
        left: 348px;
    }
.hotwords a { margin: 0 10px; }
.header .shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 34px;
    text-align: center;
}
.header .car_title {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 75px;
}

.shopcar > .car::after {
    font-family: "icomoon";
    margin-left: 5px;
    content: "\e920";
}
.header .count {
    position: absolute;
    top: -5px;
    left: 100px;
    background-color: #e60012;
    height: 14px;
    /*width: 14px;*/
    line-height: 14px;
    padding: 0 3px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}
/* nav模块制作 */
.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}
.dropdown {
    width: 209px;
    height: 45px;
}
.dropdown2 {
    width: 300px;
    height: 45px;
}
    .dropdown .head {
        height: 100%;
        background-color: #b1191a;
        font-size: 16px;
        color: #fff;
        line-height: 45px;
        text-align: center;
    }
    .dropdown2 .head {
        height: 100%;
        font-size: 16px;
        font-weight:700;
        line-height: 45px;
        text-align: center;
        float:left;
        padding:0 18px;
    }
    .dropdown .list {
        height: 465px;
        background-color: #c81623;
    }
    .dropdown div li::after {
        float: right;
        font-family: icomoon;
        content: "\e920";
        color: white;
    }
.menu_item {
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    padding: 0 10px;
    transition: all .5s;
    font-size: 12px;
}
    .menu_item:hover {
        padding-left: 20px;
        background-color: #fff;
    }
    .menu_item a { color: #fff; }
    .menu_item:hover a { color: #c81623; }
.nav_items { margin-left: 10px; }
    .nav_items li { float: left; }
    .nav_items a {
        display: block;
        height: 45px;
        line-height: 45px;
        padding: 0 25px;
        font-size: 16px;
    }
    .nav_items .spec::after {
        font-family: "icomoon";
        content: "\e91e";
    }
/* 底部模块制作 */
.footer {
    height: 410px;
    margin-top: 10px;
    padding-top: 30px;
    background-color: #f5f5f5;
}
    .footer .feature {
        height: 79px;
        border-bottom: 1px solid #ccc;
    }
.feature li {
    float: left;
    width: 240px;
    height: 79px;
}
.feature_icon {
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 35px;
    background: url(../images/icons.png) no-repeat;
}
.feature .onli { background-position: -253px -3px; }
.feature .fast { background-position: -255px -54px; }
.feature .safe { background-position: -257px -105px; }
.feature .spec { background-position: -257px -156px; }
.feature .help { background-position: -257px -208px; }
.feature_item {
    float: left;
    margin-left: 5px;
}
    .feature_item h3 {margin: 4px 0;}
.footer .sites {
    height: 187px;
    border-bottom: 1px solid #ccc;
}
.sites .sites_item {
    float: left;
    width: 200px;
    padding: 20px 0 0 50px;
}
.sites_item dt {
    height: 25px;
    font-size: 18px;
}
.sites_item dd { height: 22px; }
.sites_app dt { margin-left: 10px; }
.sites_app p { margin-left: 8px; }
.sites_app img { margin: 7px 0; }
.footer .links { text-align: center; }
.links .links_item { margin: 20px 0 15px; }
    .links .links_item a { margin: 0 3px; }
.links .contact_info { line-height: 18px; }