.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.header {
    position: relative;
    height: 100px;
}
.header1 {
    border-bottom: 2px solid #b1191a;
}

    .header .logo {
        position: absolute;
        top: 26px;
        left: 3px;
        width: 175px;
        height: 56px;
    }

        .header .logo a {
            display: block;
            width: 175px;
            height: 56px;
            background: url(../images/logo.png) no-repeat;
            font-size: 0;
        }


.footer {
    height: 100px;
    margin-top: 4px;
    padding-top: 1px;
}
.footer .links {
    text-align: center;
}
.links .links_item {
    margin: 20px 0 15px;
}
.links .contact_info {
    line-height: 18px;
}
