.list{
    height:1760px;
}
.list li {
    float: left;
    margin-right: 13px;
    height: 458px;
}
    .list li:nth-of-type(4n) {
        float: left;
        margin-right:0;
    }
.list .select_item{
    border:1px solid red;
    border-bottom:none;
    margin-right:11px;
}

.fix_btn {
    position: fixed;
    top: 440px;
    left: 50%;
    margin-left: 615px;
}